# Add any directories, files, or patterns you don't want to be tracked by version control

*.o
dsemu
__init__.py
*.pyc
test.py
test2.py
examples/test_units/time.txt
examples/test_units/results.txt
*.png